*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);

    --primary-green: rgb(119, 130, 20);
    --primary-darkblack: rgb(27, 26, 26);
    --primary-grey: rgb(86, 86, 86);

    --success: rgb(40, 167, 69);
    --primary: rgb(0, 123, 255);
    --danger: rgb(220, 53, 69);
    --warning: rgb(255, 193, 7);
    --secondary: rgb(108, 117, 125);
    --info: rgb(23, 162, 184);
    --light: rgb(248, 249, 250);
    --dark: rgb(52, 58, 64);

    --font-xxsmall: xx-small;
    --font-xsmall: x-small;
    --font-small: small;
    --font-medium: medium;
    --font-large: large;
    --font-xlarge: x-large;
    --font-xxlarge: xx-large;

    --font-400: 400; /* normal */
    --font-500: 500;
    --font-600: 600;
    --font-700: 700; /* bold */

    --p12: 0.75rem;
    --p16: 1rem;
    --p20: 1.25rem;

    --m12: 0.75rem;
    --m16: 1rem;
    --m20: 1.25rem;

    --border-radius: 5px;
}
a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}
input[type=text],
input[type=password],
input[type=password],
input[type=tel],
input[type=date],
textarea{
    width: 100%;
    padding: var(--p12);
    border: 1px solid var(--primary-grey);
    border-radius: var(--border-radius);
    margin: 0.375rem 0 1rem 0;
    resize: none;
}
input[type=file]{
    width: 100%;
    border: 1px solid var(--light);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: var(--border-radius);
}
input[type=file]::file-selector-button{
    color: var(--black);
    border: none;
    border-right: 1px solid var(--light);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: var(--p12) var(--p20);
    transition: 0.5s;
}
select{
    appearance: none;
    border-radius: var(--border-radius);
    outline: none;
    position: relative;
    width: 100%;
    padding: var(--p12);
    margin: 0.375rem 0 1rem 0;
    border: 1px solid var(--primary-grey);
}
.custom-select{
    position: relative;
    width: 100%;
}
.custom-select::after{
    border-radius: 0px 5px 5px 0px;
    color: var(--black);
    content: '\21C5';
    display: block;
    font-size: var(--font-xlarge);
    width: 40px;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: var(--p12);
}
table{
    width: 100%;
    border-collapse: collapse;
}
table td,
table th {
    padding: var(--p16);
}
table th{
    background-color: var(--secondary);
    color: var(--black);
    text-align: left;
}
table tbody tr:nth-child(even) {
    background-color: var(--secondary);
}
.label_checkbox{
    position: relative;
    color: var(--black);
    cursor: pointer;
}
.checkbox{
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
}
.checkbox::before,
.checkbox::after{
    content: "";
    position: absolute;
}
.checkbox::before{
    transition: transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: rotate(-45deg) scale(0, 0);
    left: 0.1875rem;
    top: .25rem;
    z-index: 1;
    width: 1rem;
    height: 0.4rem;
    border: 3px solid var(--black);
    border-top-style: none;
    border-right-style: none;
}
.checkbox:checked::before{
    transform: rotate(-45deg) scale(1, 1);
}
.checkbox::after{
    top: -0.125rem;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--white);
    border: 2px solid var(--black);
    cursor: pointer;
}
.label_radio{
    position: relative;
    margin: 0.5rem;
    color: var(--black);
    font-size: 1.2rem;
    line-height: 1.5;
    cursor: pointer;
}
.radio{
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
}
.radio::before,
.radio::after{
    content: "";
    position: absolute;
}
.radio::before{
    transition: transform 0.3s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: scale(0, 0);
    top: 0.14rem;
    left: 0.30rem;
    z-index: 1;
    width: 0.70rem;
    height: 0.70rem;
    background: var(--black);
    border-radius: 50%;
}
.radio:checked::before{
    transform: scale(1, 1);
}
.radio::after{
    top: -0.25rem;
    left: -0.125rem;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--white);
    border: 2px solid var(--black);
    border-radius: 50%;
}
.link{
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: var(--p12);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 3px;
}
.btn{
    background: none;
    border: none;
    color: var(--dark);
    padding: var(--p12);
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 3px;
}
.btn-primary,
.link-primary{
    background-color: var(--primary);
}
.primary{
    color: var(--primary);
}
.btn-danger,
.link-danger{
    background-color: var(--danger);
}
.danger{    
    color: var(--danger);
}
.btn-warning,
.link-warning{
    background-color: var(--warning);
}
.warning{
    color: var(--warning);
}
.btn-success,
.link-success{
    background-color: var(--success);
}
.success{
    color: var(--success);
}
.btn-dark,
.link-dark{
    background-color: var(--dark);
}
.dark{
    color: var(--dark);
}
.btn-secondary,
.link-secondary{
    background-color: var(--secondary);
}
.secondary{
    color: var(--secondary);
}
.btn-light,
.link-light{
    background-color: var(--light);
}
.light{
    color: var(--light);
}
.btn-info,
.link-info{
    background-color: var(--info);
}
.info{
    color: var(--info);
}
.btn-group{
    display: inline-flex;
}
.btn-group button{
    border-radius: 0;
}
.btn-group button i{
    font-size: var(--font-medium);
    font-weight: var(--font-500);
}
.btn-group button:first-child{
    border-radius: 5px 0 0 5px;
}
.btn-group button:last-child{
    border-radius: 0 5px 5px 0;
}
.dropdown{
    position: relative;
    width: 100%;
}
.dropdown input{
    display: none;
}
.dropdown label{
    /* background: #2d5faf; */
    display: block;
    color: #000;
    padding: var(--p12);
    cursor: pointer;
}
.dropdown label i{
    float: right;
    transition: all 0.5s;
}
.dropdown input[type=checkbox]:checked + label i {
    transform: rotate(180deg);
}
.dropdown-content{
    /* background: #ccdef9; */
    overflow: hidden;
    transition: max-height 0.5s; 
    max-height: 0;
}
.dropdown-content ul{
  list-style: none;
  padding: var(--p16) var(--p20);
  line-height: 40px;
}
.dropdown input:checked ~ .dropdown-content {
    max-height: 100vh;
}
.card{
    width: 300px;
    height: 100%;
    position: relative;
    border-radius: var(--border-radius);
    border: solid 1px var(--secondary);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--p20);
    position: absolute;
    top: 0;
    left: 0;
}
.card-img{
    border-bottom: solid 1px var(--secondary);
}
.card-img img{
    display: block;
    width:100%;
    height:auto;
    object-fit:cover;
    object-position:center;
    border-radius: 5px 5px 0 0;
}
.card-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: var(--p20);
    border-bottom: solid 1px var(--secondary);
}
.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--p20);
}
[data-tooltip]{
    position: relative;
    display: inline-block;
}
[data-tooltip]::before{
    content: attr(data-tooltip);
    width: 120px;
    text-align: center;
    background-color: var(--dark);
    color: var(--white);
    padding: var(--p12);
    border-radius: var(--border-radius);
    position: absolute;
    bottom: 35px;
    left: 0;
    display: none;
    animation: zoomIn 0.3s;
    z-index: 999999;
}
[data-tooltip]:hover::before{
    display: block;
}
@-webkit-keyframes zoomIn{
    0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50%{
    opacity: 1;
    }
}
@keyframes zoomIn {
    0%{
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
    }
    50%{
    opacity: 1;
    }
}
@media (max-width: 768px) {
    table thead {
      display: none;
    }
    table,
    table tbody,
    table tr,
    table td {
      display: block;
      width: 100%;
    }
    table tr {
      margin-bottom: var(--m16);
    }
    table td {
      padding-left: 50%;
      text-align: left;
      position: relative;
    }
    table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 100%;
      padding-left: var(--p16);
      font-weight: var(--font-700);
    }
}