.container{
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 20px;
}
.navbar-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 var(--p20);
    transition: all 0.5s;
    z-index: 99999999;
}
.navbar-links a{
    display: inline-block;
    position: relative;
    padding: var(--p16) var(--p12);
    font-weight: var(--font-500);
    color: var(--white);
}
.navbar-links a::after{
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--white);
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar-links a:hover::after{
    width: 100%;
    left: 0;
}
#hamburger{
    display: none;
}
.hamburgerMenu{
    display: none;
}
.sticky{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255, 0.2);
    position: fixed;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: slideDown 0.5s ease-out;
    z-index: 9999999;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.aboutus-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wave,
.wave::before,
.wave::after {
    position: absolute;
    width: 100%;
    height: 490px;
    top: 0;
    left: 0;
    background-image: url(/style/img/wave.png);
    background-size: cover;
    opacity: .8;
    animation: wave-reverse 6s ease-in infinite alternate;
    z-index: -1;
    overflow: hidden;
}
  .wave::before {
    content: '';
    opacity: .7;
    animation: wave 7.5s ease-in-out infinite alternate-reverse;
}
  .wave::after {
    content: '';
    opacity: .6;
    animation: wave-reverse 6s ease-out infinite alternate;
}
.aboutus-presentation{
    width: 100%;
    margin-top: 90px;
    line-height: 50px;
    text-align: center;
}
.aboutus-body{
    display: flex;
    justify-content: center;
    margin: 70px 0;
}
.aboutus-body-pagelocationcards .card{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
}
.aboutus-body-pagelocationcards .card .card-body{
    align-items: center;
    text-align: center;
}
.aboutus-body-pagelocationcards{
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}
.pagelocationcards-headericon{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 50%;
}
.footer{
    background-color: var(--primary-darkblue);
    color: var(--white);
    text-align: center;
    padding: var(--p20) 0;
}
.footer-description{
    margin: var(--m12);
}
.footer-social ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
.footer-social ul li{
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 var(--p20);
}
.footer-bottom a{
    color: var(--white);
    padding: 5px 10px;
}
@keyframes wave {
    0% {
      background-position: 0;
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      background-position: 100vw;
      transform: scale(1.15);
    }
  }
  @keyframes wave-reverse {
    0% {
      background-position: 0;
    }
    100% {
      background-position: 100vw;
    }
  }
@media (max-width:768px){
    .navbar-container{
        justify-content: space-between;
    }
    .hamburgerMenu{
        display: block;
    }
    .hamburgerMenu label{
        width: 50px;
        height: 50px;
        display: inline-block;
        padding: var(--p12);
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s;
    }
    .hamburgerMenu label:hover,
    .navbar-container #hamburger:checked~.hamburgerMenu > label{
        background-color: var(--primary-lightpurple);
    }
    .hamburgerMenu label div{
        width: 27px;
        height: 10px;
        display: block;
        border-top: 3px solid var(--black);
    }
    .navbar-links{
        background-color:var(--primary-lightpurple);
        width: 100%;
        height: 0px;
        display: block;
        position: absolute;
        top: 60px;
        left: 0px;
        overflow-y: hidden;
        transition: all 0.5s;
    }
    .navbar-links a{
        display: block;
        width: 100%;
    }
    #hamburger:not(:checked) ~ .navbar-links{
        height: 0px;
    }
    #hamburger:checked ~ .navbar-links{
        height: calc(100vh - 60px);
    }
    .footer-bottom{
        justify-content: center;
        gap: 12px;
        margin: var(--m12);
    }
}