.container{
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 20px;
}
.navbar-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 var(--p20);
    transition: all 0.5s;
    z-index: 99999999;
}
.navbar-links a{
    display: inline-block;
    position: relative;
    padding: var(--p16) var(--p12);
    font-weight: var(--font-500);
    color: var(--white);
}
.navbar-links a::after{
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--white);
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar-links a:hover::after{
    width: 100%;
    left: 0;
}
#hamburger{
    display: none;
}
.hamburgerMenu{
    display: none;
}
.sticky{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255, 0.2);
    position: fixed;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: slideDown 0.5s ease-out;
    z-index: 9999999;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.aboutus-container{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutus-body{
    width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.aboutus-bodyleftimg{
    width: 100%;
    height: calc(100vh - 200px);
    overflow: hidden;
    display: block;
}
.aboutus-bodyleftimg img{
    width: 100%;
    height: calc(100vh - 200px);
    background-color: var(--primary-blue);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
}
.aboutus-bodyleft,
.aboutus-bodyright{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.aboutus-bodycardcontainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.aboutus-bodyrighttopitem{
    overflow: hidden;
}
.aboutus-bodycardcontainer .card{
    background-color: var(--primary-darkblue);
    color: var(--white);
}






  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bg-img{
    position: absolute;
    right: -20px;
    bottom: -50px;
    font-size: 200px;
    z-index: 1;
  }
  .bg-img i{
    color: var(--white);
  }
  .asd .card{
    border: none;
    box-shadow: none;
  }
  .asd{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    perspective: 2000px;

  }
    .asd .asd-wrapper{
      height: 100%;
      transition: all 0.5s;
      position: relative;
      overflow: hidden;
    }
    
    .asd-bottom{
      width: 100%;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: all 0.5s;
    }
  
    
    .asd:hover .asd-wrapper{
      
        transform: rotateX(45deg);
      }
      
      .asd:hover .asd-bottom{
        transform: translate(-50%, -30%);
        opacity: 1;
      }
  
  
  
  
  
  
  






.footer{
    background-color: var(--primary-darkblue);
    color: var(--white);
    text-align: center;
    padding: var(--p20) 0;
}
.footer-description{
    margin: var(--m12);
}
.footer-social ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
.footer-social ul li{
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 var(--p20);
}
.footer-bottom a{
    color: var(--white);
    padding: 5px 10px;
}
@media (max-width:768px){
    .navbar-container{
        justify-content: space-between;
    }
    .hamburgerMenu{
        display: block;
    }
    .hamburgerMenu label{
        width: 50px;
        height: 50px;
        display: inline-block;
        padding: var(--p12);
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s;
    }
    .hamburgerMenu label:hover,
    .navbar-container #hamburger:checked~.hamburgerMenu > label{
        background-color: var(--primary-lightpurple);
    }
    .hamburgerMenu label div{
        width: 27px;
        height: 10px;
        display: block;
        border-top: 3px solid var(--black);
    }
    .navbar-links{
        background-color:var(--primary-lightpurple);
        width: 100%;
        height: 0px;
        display: block;
        position: absolute;
        top: 60px;
        left: 0px;
        overflow-y: hidden;
        transition: all 0.5s;
    }
    .navbar-links a{
        display: block;
        width: 100%;
    }
    #hamburger:not(:checked) ~ .navbar-links{
        height: 0px;
    }
    #hamburger:checked ~ .navbar-links{
        height: calc(100vh - 60px);
    }
    .parent{
        height: 100%;
        padding-top: 120px;
    }
    .child{
        width: 310px;
        height: 310px;
        text-align: center;
        overflow: hidden;
        border-radius: 50%;
    }
    .aboutuscontent-container{
        margin-top: var(--m20);
    }
    .footer-bottom{
        justify-content: center;
        gap: 12px;
        margin: var(--m12);
    }
}