.container{
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 20px;
}
.navbar-container{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 var(--p20);
    transition: all 0.5s;
    z-index: 99999999;
}
.navbar-links a{
    display: inline-block;
    position: relative;
    padding: var(--p16) var(--p12);
    font-weight: var(--font-500);
    color: var(--white);
}
.navbar-links a::after{
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--white);
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar-links a:hover::after{ 
    width: 100%; 
    left: 0;
}
#hamburger{
    display: none;
}
.hamburgerMenu{
    display: none;
}
.sticky{
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255, 0.2);
    position: fixed;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation: slideDown 0.5s ease-out;  
    z-index: 9999999;
}
.slider-container{
    position: relative;
    overflow: hidden;
}
.slide-item{
    display: none;
}
.slide-item img{
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}
.prev, .next{
	position: absolute;
	top: 50%;
	padding: var(--p16);
	cursor: pointer;
	font-weight: var(--font-700);
	font-size: var(--font-large);
	color: var(--white);
	border-radius: 0 5px 5px 0;
    transition: 0.5s ease;
}
.next{
	right: 0;
	border-radius: 5px 0 0 5px;
}
.prev:hover, 
.next:hover{
	background-color: rgba(29, 35, 77, 0.8);
}
.dot-container{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.dot{
    width: 13px;
	height: 13px;
	display: inline-block;
	margin: 0 2px;
	background-color: var(--white);
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.5s ease;
}
.active, 
.dot:hover{
	background-color: var(--primary-blue);
}
.slide-animation:nth-child(1){
	-webkit-animation-name: slideAnimation1;
	-webkit-animation-duration: 3s;
	animation-name: slideAnimation1;
	animation-duration: 3s;
}
.slide-animation:nth-child(2){
	-webkit-animation-name: slideAnimation2;
	-webkit-animation-duration: 3s;
	animation-name: slideAnimation2;
	animation-duration: 3s;
}
.slide-animation:nth-child(3){
	-webkit-animation-name: slideAnimation1;
	-webkit-animation-duration: 3s;
	animation-name: slideAnimation1;
	animation-duration: 3s;
}
.slide-animation:nth-child(4){
	-webkit-animation-name: slideAnimation2;
	-webkit-animation-duration: 3s;
	animation-name: slideAnimation2;
	animation-duration: 3s;
}
.slide-animation:nth-child(5){
	-webkit-animation-name: slideAnimation1;
	-webkit-animation-duration: 3s;
	animation-name: slideAnimation1;
	animation-duration: 3s;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin: 70px 0;
}
.main-header{
    width: 1280px;
    max-width: 100%;
    padding: var(--p20);
    border-bottom: solid 1px var(--white);
    margin-bottom: 70px;
    position: relative;
}
.main-header h1{
    letter-spacing: 1vw;
    color: var(--white);
    text-align: center;
}
.mainheader-dot{
    background-color: var(--primary-blue);
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
}
.main-header .mainheader-dot:nth-child(1){
    bottom: -10px;
    left: 0;
}
.main-header .mainheader-dot:nth-child(3){
    bottom: -10px;
    right: 0;
}
.about-container,
.project-container{
        display: flex;
        flex-direction: column;
        align-items: center;
}
.about-body{
    width: 1280px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.about-content{
    width: 720px;
    height: 460px;
    display: flex;
    align-items: center;
    background-color: var(--primary-darkblue);
    padding: var(--p20);
    color: var(--white);
    border-radius: 5px 0 0 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.about-img{
    width: 560px;
    max-width: 100%;
    border-radius: 0 5px 5px 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.about-img img{
    width: 100%;
    height: 560px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 5px 5px 0;
}
.beforeafter-container{
    width: 100%;
    min-height: 60vh;
    position: relative;
}
.beforeafter-container .beforeafter-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
}
.beforeafter-container .beforeafter-img.front-img{
    z-index: 1;
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}
.beforeafter-slider{
    width: 100%;
    height: 100%;
    appearance: none;
    position: absolute;
    background: transparent;
    z-index: 2;
}
.beforeafter-slider::-webkit-slider-thumb{
    width: 55px;
    height: 55px;
    appearance: none;
    border: solid 3px var(--white);
    border-radius: 50%;
    background-image: url('/style/img/before-after-beyaz.png');
    background-color: var(--primary-blue);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.shortcontent-container{
    display: flex;
    justify-content: center;
}
.shortcontent-body{
    width: 1280px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 70px;
}
.shortcontent-body .card{
    height: 60vh;
    display: flex;
    align-items: center;
    background-color: var(--primary-darkblue);
    border: none;
    text-align: center;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.shortcontent-body .card .shortcontent-headericon{
    font-size: 68px;
}
.shortcontent-body .card .shortcontent-contenticon{
    transform: rotate(330deg);
}
.shortcontent-body .card:hover .shortcontent-headericon{
    transform: rotateY(360deg);
    transition: all 0.5s;
}
.project-body{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 60vh;
}
.project-body .card{
    border: none;
    box-shadow: none;
}
.card:nth-child(1) img {
    border-left: none;
}
.project-body img{
    width: 100%;
    height: 100%;
    display: block;
    border-left: solid 3px var(--white);
}
.card a{
    color: #fff;
}
.project-body:hover a:not(:hover){
    opacity: 0;
}
.card:hover img{
    opacity: 0;
}
.card a .card-body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(29,35,77,1) 150%);
    display: block;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 80%;
    transition-property: top;
    transition-duration: 0.3s;
    width: 100%;
}
.card a:hover .card-body{
    top: 60%;
    transition: all 0.3s;
}
.card:nth-child(1):hover ~ .bg{
    background: url("https://picsum.photos/1920/1080?random=1");
    object-fit: contain;
    transition: all 0.3s;
}
.card:nth-child(2):hover ~ .bg{
    background: url("https://picsum.photos/1920/1080?random=2");
    object-fit: contain;
    transition: all 0.3s;
}
.card:nth-child(3):hover ~ .bg{
    background: url("https://picsum.photos/1920/1080?random=3");
    object-fit: contain;
    transition: all 0.3s;
}
.card:nth-child(4):hover ~ .bg{
    background: url("https://picsum.photos/1920/1080?random=4");
    object-fit: contain;
    transition: all 0.3s;
}
.bg{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: all .3s;
}
.footer{
    background-color: var(--primary-darkblue);
    color: var(--white);
    text-align: center;
    padding: var(--p20) 0;
}
.footer-description{
    margin: var(--m12);
}
.footer-social ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
.footer-social ul li{
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 5px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 var(--p20);
}
.footer-bottom a{
    color: var(--white);
    padding: 5px 10px;
}
@-webkit-keyframes slideAnimation1{
    0% { opacity: 0; }
    30% { opacity: 1; }
    55% { clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%); }
    75% { clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }
    100% { clip-path: polygon(175% 0%, 200% 50%, 175% 100%, 100% 100%, 125% 50%, 100% 0%); }
}
@keyframes slideAnimation1{
    0% { opacity: 0; }
    30% { opacity: 1; }
    55% { clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%); }
    75% { clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }
    100% { clip-path: polygon(175% 0%, 200% 50%, 175% 100%, 100% 100%, 125% 50%, 100% 0%); }
}
@-webkit-keyframes slideAnimation2{
    0% { clip-path: inset(25% 100% 25% -50%); }
    50% { clip-path: inset(25% 0% 25% 50%); }
    100% { clip-path: inset(0); }
}
@keyframes slideAnimation2{
    0% { clip-path: inset(25% 100% 25% -50%); }
    50% { clip-path: inset(25% 0% 25% 50%); }
    100% { clip-path: inset(0); }
}
@-webkit-keyframes slideDown{
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
@keyframes slideDown{
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}
@media (max-width:768px){
    .navbar-container{
        justify-content: space-between;
    }
    .hamburgerMenu{
        display: block;
    }
    .hamburgerMenu label{
        width: 50px;
        height: 50px;
        display: inline-block;
        padding: var(--p12);
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s;
    }
    .hamburgerMenu label:hover,
    .navbar-container #hamburger:checked~.hamburgerMenu > label{
        background-color: var(--primary-lightpurple);
    }
    .hamburgerMenu label div{
        width: 27px;
        height: 10px;
        display: block;
        border-top: 3px solid var(--black);
    }
    .navbar-links{
        background-color:var(--primary-lightpurple);
        width: 100%;
        height: 0px;
        display: block;
        position: absolute;
        top: 60px;
        left: 0px;
        overflow-y: hidden;
        transition: all 0.5s;
    }
    .navbar-links a{
        display: block;
        width: 100%;
    }
    #hamburger:not(:checked) ~ .navbar-links{
        height: 0px;
    }
    #hamburger:checked ~ .navbar-links{
        height: calc(100vh - 60px);
    }
    .about-content,
    .about-img{
        width: 100%;
        border-radius: 0;
    }
    .project-container .card:nth-child(1),
    .project-container .card:nth-child(2),
    .project-container .card:nth-child(3){
        border-right: none;
        border-bottom: solid 3px var(--white);
    }
    .footer-bottom{
        justify-content: center;
        gap: 12px;
        margin: var(--m12);
    }
}