.container{
        display: flex;
        flex-direction: column;
        position: relative;
}
.navbar-container {
        width: 100%;
        padding: 0 20px;
        height: 100px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-between;
        z-index: 99999999;
    }
    
    .nav-title h2 {
        color: #000;
    }
    
    .hamburgerMenu {
        display: none;
    }
    .links a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        padding: 16px 12px;
        position: relative;
      }
      .links a::after {
        bottom: 5px;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #000;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      .links a:hover::after { 
        width: 100%; 
        left: 0; 
      }
    #hamburger {
        display: none;
    }
    
.sticky{
        position: fixed;
        width: 100%;
        height: 60px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        animation: slideDown 0.5s ease-out;  
        z-index: 9999999;
}
.slider-container{
    overflow: hidden;
    position: relative;
}
.slide-item {
	display: none;
}
.slide-item img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    display: block;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #494B55;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}
.next{
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}
.text{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.dot-container{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.dot{
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover{
	background-color: #494B55;
}
.slide-animation{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2s;
	animation-name: fade;
	animation-duration: 2s;
}
@-webkit-keyframes fade{
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
      }
      40% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
      }
      70% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
}
@keyframes fade{
    0% {
        -webkit-transform: scale(0);
                transform: scale(0);
        -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        opacity: 0;
      }
      40% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        opacity: 1;
      }
      70% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
      }
}
@keyframes slideDown{
        from {
          transform: translateY(-100%);
        }
        to {
          transform: translateY(0);
        }
}

@media (max-width:768px) {
        .navbar-container {
            justify-content: space-between;
        }
    
        .hamburgerMenu {
            display: block;
        }
    
        .hamburgerMenu label {
            display: inline-block;
            cursor: pointer;
            padding: 13px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            transition: all .3s;
        }
    
        .hamburgerMenu label:hover,
        .navbar-container #hamburger:checked~.hamburgerMenu>label {
            background-color: #be5915;
        }
    
        .hamburgerMenu label div {
            border-top: 2px solid #000;
            display: block;
            height: 10px;
            width: 25px;
        }
    
        .links {
            background-color: #e65b00;
            transition: all 0.3s;
            overflow-y: hidden;
            position: absolute;
            display: block;
            width: 100%;
            height: 0px;
            top: 60px;
            left: 0px;
        }
    
        .links a {
            display: block;
            width: 100%;
        }
    
        #hamburger:not(:checked)~.links {
            height: 0px;
        }
    
        #hamburger:checked~.links {
            height: calc(100vh - 60px);
        }
    }
